body 
{
    direction:rtl;
    background-color: rgba(0, 255, 247, 0.6)
}
nav ul {
    list-style-type: none; 
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block; 
    margin: 0 15px;
}
#container {
    width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #cccccc;
}